body {
  background-color: floralwhite;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.carousel {
  background-color: #8a1e2c;
}

.carousel-caption {
  color: floralwhite;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

.footer {
  background-color: #8a1e2c;
  color: floralwhite;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.footer i {
  color: floralwhite;
}

.jumbotron {
  background-color: #c72c41;
  color: floralwhite;
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
}

.navbar-dark {
  background-color: #8a1e2c;
  color: floralwhite;
}

.row-content {
  margin: 0 auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.row-header {
  margin: 0 auto;
  padding: 0px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

address {
  font-size: 80%;
  margin: 0px;
}
